@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
    height: 100%;
}

@layer base {
    :root {
        --text: 0 0% 15%;
        --text-secondary: 0 0% 45%;
        --background: 0 0% 92%;

        --primary: 102 54% 18%;
        --primary-contrast: 102 75% 30%;
        --primary-muted: 102 25% 18%;
        --secondary: 101 31% 62%;
        --secondary-contrast: 101 50% 40%;
        --secondary-muted: 101 15% 62%;
        --accent: 52 74% 60%;
        --error: 0 80% 50%;

        --shadow-color: 0 0% 82%;
        --card: 0 0% 98%;
        --border: 216 12% 84%;
    }
    .dark {
        --text: 0 0% 85%;
        --text-secondary: 0 0% 45%;
        --background: 0 0% 12%;

        --primary: 102 54% 82%;
        --primary-contrast: 102 75% 50%;
        --primary-muted: 102 23% 82%;

        --secondary: 101 31% 38%;
        --secondary-contrast: 101 50% 70%;
        --secondary-muted: 101 14% 38%;

        --accent: 52 74% 40%;

        --error: 0 80% 50%;

        --shadow-color: 0 0% 7%;
        --card: 0 0% 20%;
        --border: 216 12% 18%;
    }
    * {
    }
    body {
        @apply bg-background;
        @apply text-text;
    }

    h1 {
        @apply text-3xl;
        @apply font-bold;
    }
    h2 {
        @apply text-2xl;
        @apply font-bold;
    }

    /* width */
    ::-webkit-scrollbar {
        width: 6px;
        margin: 3px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: hsl(var(--background));
        border-radius: 5px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: hsl(var(--secondary));
        border-radius: 24px;
    }
    /* To handle height for vertical scrollbar, you can control the thumb height */
    ::-webkit-scrollbar-thumb {
        max-height: 200px; /* Minimum height of the thumb handle */
    }
}
