@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
    height: 100%;
}

@layer base {
    :root {
        --text: 0 0% 15%;
        --text-secondary: 0 0% 45%;
        --background: 0 0% 92%;

        --primary: 102 54% 18%;
        --primary-contrast: 282 54% 95%;
        --secondary: 101 31% 62%;
        --secondary-contrast: 282 54% 95%;
        --accent: 52 74% 60%;

        --shadow-color: 0 0% 82%;
        --card: 0 0% 98%;
    }
    .dark {
        --text: 0 0% 85%;
        --text-secondary: 0 0% 45%;
        --background: 0 0% 12%;

        --primary: 102 54% 82%;
        --primary-contrast: 282 54% 95%;
        --secondary: 101 31% 38%;
        --secondary-contrast: 282 54% 95%;
        --accent: 52 74% 40%;

        --shadow-color: 0 0% 7%;
        --card: 0 0% 20%;
    }
}

@layer base {
    * {
    }
    body {
        @apply bg-background;
        @apply text-text;
    }

    h1 {
        @apply text-3xl;
        @apply font-bold;
    }
    h2 {
        @apply text-2xl;
        @apply font-bold;
    }
}
